body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
}

header {
  background: #000;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: gold;
}


.menu-container {
  display: flex;
  flex-direction: column; 
  height: 50vh; 
}


.menu-item {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.usuario {
  background: #1e90ff; /* Azul */
}
.repartidor {
  background: #28a745; /* Verde */
}
.administrador {
  background: #dc3545; /* Rojo */
}


.menu-item:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}




